:root{
    --cor-principal1:#6278F7;
    --cor-principal2:#95FFD4;
    --cor-principal3:#AFAFAF;
    --fundo1:#D9F7E9;
    --fundo2:#E8F8FF;
    --fundo3:#F0F8E2;
    --fundo4:#FDE7E8;
    --fundo5:#FAE9F5;
    --fundo6:#FFF5D9;
    --fundo7:#FFEEDF;
    --destaque-programacao:#57C278;
    --destaque-frontend:#82CFFA;
    --destaque-datascience:#A6D157;
    --destaquedevops:#E06B69;
    --destaqueuxdesign:#DB6EBF;
    --destaquemobile:#FFBA05;
    --destaqueinovacaogestao:#FF8A29;
}
.campo-texto{
    margin: 24px 0;

}
.campo-texto label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;

}
.campo-texto input{
    background-color: white;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}